@model PhotoBlog.Models.Photo

@{
    ViewBag.Title = "Admin";
}

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/knockout/knockout-3.0.0.debug.js"></script>
    <script src="~/Scripts/lightbox/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lightbox/js/lightbox-2.6.min.js"></script>
    <script src="~/Scripts/jquery/jquery.validate.js"></script>
    <script src="~/Scripts/client/ClientViewModel.js"></script>

    <script type="text/javascript">
        //-----------------------------------------------------------------------------------------------

        $('#left').css('cursor', 'pointer').on('mouseover',
            function () {
                $("#left").append('<div id="category">Urban</div>');
                $("#left").css({
                    'background': 'white',
                    'opacity': '0.5',
                });
            }
          );

        $('#left').css('cursor', 'pointer').on('mouseout',
           function () {
               $("#left").html("");
               $("#left").css({
                   'background': 'none',
                   'opacity': '0'
               });
           }
         );

        //-----------------------------------------------------------------------------------------------

        $('#right').css('cursor', 'pointer').on('mouseover',
            function () {
                $("#right").css({
                    'background': 'white',
                    'opacity': '0.5',
                });
            }
          );

        $('#right').css('cursor', 'pointer').on('mouseout',
           function () {
               $("#right").css({
                   'background': 'none',
                   'opacity': '0'
               });
           }
         );
    </script>
}
<link href="~/Scripts/lightbox/css/lightbox.css" rel="stylesheet" />
<body>
    <div id="wrapper" class="wrapper">
        <aside>@Html.ActionLink(" ", "FirstGallery", "Client", new { id = "left" })</aside>
        <aside>@Html.ActionLink(" ", "SecondGallery", "Client", new { id = "right" })</aside>
        <footer id="footer">
            <div>
                @Html.ActionLink("About", "FirstGallery", "Client")
                @Html.ActionLink("Portfolio", "FirstGallery", "Client")
                @Html.ActionLink("Blog", "FirstGallery", "Client")
            </div>
        </footer>
    </div>
</body>
